.titleRow {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1;
}

.titleLink {
  color: black;
  text-decoration: none;
}

.actions {
  display: flex;
  gap: 6px;
}

.content {
  margin-top: 16px;
}
